* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}

html{

    scroll-behavior: smooth;
}

body{

    background-color: #e4e2ea;
    
    
}

h1{
color: rgb(25, 155, 25);
text-align: center;
}



h2
{

color: rgb(47, 160, 47);
font-size: large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h4{
    font-family: 'Oleo Script', cursive;
    color: red;
    font-size: 3em;
}

h4 ::hover{
 font-size: xx-large;

}


h6{

    font-size: 
    x-large;
}


p{
font-size: 110%;

}



.menu{
    height: 3rem;
    background-color: rgb(68, 68, 68);

}

#background{
    height: 100vh;
    width: 100%;
    transform: scale(1.0375) translateZ(0px);
}


.backgroundbild{
    
    height: 100vh;
    position: relative;
    overflow: hidden;

    z-index: -3;
    top: 0px;
    
   
}

.schrift{
    position: relative;
    text-align: center;
    margin-top: -55vh;
    font-family: 'Oleo Script', cursive;
    font-size: 7em;
    color: #e4e2ea;

}


.main{
    flex-wrap: wrap;
    margin-top: 5vh;
    background-color: rgb(252, 238, 222);
    display: flex;
    padding: 1%;
    margin-right: 8%;
    margin-left: 8%;
}




.main2{
    margin-top: 20vh;
    background-color: rgb(236, 229, 229);
    display: flexbox;
    padding: 1%;

}

.first,.ein, .auf1, .ruecken , .beziehung,.begleitung ,.kinder , .emotion{
    text-align: left;
    background-color: rgb(252, 238, 222);
    display: block;
    margin:2%;
    padding:3%;
}

.emotion{

    text-align: left;
}



.bild1 img{

    max-width: 100%;
    max-height: 30rem;
    align-items: center;
    float: right;
}
.bild1{
    width: 90%;
    align-items: center;
    padding-left: 3rem;
}

.bildlove,.bildkinder{
    max-height: 20rem;
    max-width: 100%;
}

.bildlove,.bildkinder{

    max-width: 90%;
}



.phone2{
    left: 20%;
    bottom: 20%;
    font-size: 5rem;
    transform: rotate(-90deg);
    display: flex;
    position: relative;

}

.phone{
    font-size: xx-large;
    transform: rotate(-90deg);
    
}
@keyframes wiggle{

25% { transform: rotate(-80deg);}
75% { transform: rotate(-100deg);}

}
.phone:hover{
    animation: wiggle 0.5s infinite;
    
    
}

.background{

    background-image: url("./bilder/b1.jpeg");
}


.contact{
    
    z-index: 5;
    background-color: #61DAFB;
    height: 88vh;
    width: 99vw;
}

.ctext{

    align-self: center;
}


.name ,.email,.message{

 display: flex;
align-items: center;
display: flex;
justify-content: center;
background:rgb(230, 230, 230);
width: 50%;
border-radius: .25em;
font-size: 1rem;
padding: .25em;
border: 1px solid #333;
flex-direction: column;
margin-bottom: .5rem;
gap: .25em;
margin-left:5% ;

}

.name ,.email{

    width: 40%;
}


.vita{

background-color:#f7f7f7;
text-align: center;
padding-top: 3rem;

}

.ctext{
    
    padding: 3rem 0 0 3rem 
}

#Kontakt {

    height: 100vh;
}
/*Animations*/






.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Button style */
  .contactbutton {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
    margin-left: 5%;
    margin-top: 3%;
  }
  
nav{
    top: 0;
    height: 3rem;
    width: 100vw;
    background-color: #f7f7f7;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    color: #000000;

}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #000000;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #222526;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){

    
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #f7f7f7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.css-slider {

    width: 60%;
    height: auto;
    overflow: hidden;
    padding: 30%;
    position: relative;
    margin-left: 20%;
    margin-bottom: 10%;
    
  }

  /*<div class="css-slider"></div>*/
  .css-slider:before,
  .css-slider:after {
     content: "";
     z-index: -1;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
  }
  .css-slider:before {
    width: 500%; /* (n+1)*100% */
    background: url(./bilder/test2.jpeg) no-repeat,  url(./bilder/test1.jpeg) no-repeat,  url(./bilder/test3.gif) no-repeat,
       url(./bilder/test4.jpeg) repeat-x;
    background-position: 75% top, 50% top, 25% top, 0% top; /* (n-1)/n*100%, (n-2)/n*100% ... 0% */
    background-size:  20% auto; /* 100/(n+1)% */
    animation: slide 20s ease-in-out  infinite;
  }
  .css-slider:after {
    right: 0;
    background:rgba(0, 0, 0, .25);
  }
  @keyframes slide {
    0%, 20% {
      transform: translate3d(0,0,0);
    }
    25%, 45% {
      transform: translate3d(-20%,0,0);
       /* -1/n+1 * 100% */
    }
    50%, 70% {
      transform: translate3d(-40%,0,0);
    }
    75%, 95% {
      transform: translate3d(-60%,0,0);   
    }
    100% {
      transform: translate3d(-80%,0,0);
      /* -n/n+1 * 100% */
      animation-timing-function: steps(1, end);
    }
  }
  .title:after {
    content: "";
    display: block;
    width: 48px;
    height: 0;
    margin: 24px auto 0;
    border-bottom: 2px solid;  
  }